<div class="main">
    <div class="header">
        <div class="title1">
            <p>Let's Talk about Fantastic Serverless</p>
        </div>
        <div class="title2">
            <h1>Fantastic Serverless Security risks,<br> and where to find them</h1>
        </div>
        <div class="title3">
            <p>Written by <img class="images1" src="assets/images/2w.png">
                The same year that i have graduated.
            </p>
        </div>
    </div>
    <div class="body1">
        <img class="images2" src="assets/images/images1.jpeg">
    </div>
    <div class="body2">
        <div class="r0 row">
            <div class="r1 col-md-11">
                <p> With the rising hype around all things Serverless, I’ve been getting regularly asked one simple question:<br></p>
                <p class="text1"><i>But, how can I guarantee my serverless application is secure?</i> </p>
                <p class="text2">My response is always the same. How can you guarantee anything? I’m just as scared about my EC2 <br></p>
                    <p class="text21">instance getting breached as I am about my Lambdas.<br></p>
                <p class="text3"> Most server vulnerabilities are due to programmer error. That one line of code that does a tiny bit more than <br></p>
                    <p class="text31"> it should. That one app secret you misplaced. Those files you forgot to encrypt.<br></p>
                <p class="text4">There are numerous things we, the developers, can do to write better software.</p>
                <p class="text5">That said, the distributed nature of Serverless Architectures gives a malicious attacker more room to<br></p>
                    <p class="text51">maneuver. The greatest asset of serverless is also its most dangerous foe; it gives attackers significantly<br></p>
                    <p class="text52">more points of entry.</p>
                <p class="text6">This had me genuinely worried, so I started digging for answers. That's when I came across Puresec's study,<br></p>
                    <p class="text61"> The Top Ten Most Critical Security Risks in Serverless Architectures.</p>
                <p class="text7">I read it without lifting my eyes from my screen. So many things became crystal clear.</p>

            </div>
            <div class="r2 col-md-1">
                <i class="fa fa-facebook"></i><br><br>
                <i class=" fa fa-twitter"></i><br><br>
                <i class=" fa fa-linkedin"></i>
            </div>
        </div>
    </div>
</div>