.title1{
    text-align: center;
    color: rgb(127, 132, 131);
    font-size:medium;
}

.title2 {
    text-align: center;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title3 {
    text-align: center;
    color: rgb(127, 132, 131);
    font-size:medium;
}

.images1 {
    margin-top: -05%;
    margin-bottom: -0.5%;
}

.body1 {
    text-align: center;
}

.images2 {
    width: 80%;
    height: 500px;
    margin-top: 02%;
}

.body2 {
    color: rgb(63, 64, 64);
    margin-top: 03%;
    text-align: center;
    font-size: medium;
    font-family: 'Fontfabric muller',sans-serif;
}
 
.text1{
    margin-top: 02%;
    margin-left: -290px;
}

.text2{
    margin-top: 03%;
    margin-left: -15px;
}

.text21 {
    margin-left: -345px;
}

.text3 {
    margin-top: 02%;
    margin-left: 30px;
}

.text31 {
    margin-left: -170px;
}

.text4 {
    margin-top: 02%;
    margin-left: -170px;
}

.text5 {
    margin-top: 02%;
    margin-left: -20px;
}

.text51 {
    margin-left: 13px
}

.text52 {
    margin-left: -580px;
}

.text6 {
    margin-top: 02%;
    margin-left: 41px;
}

.text61 {
    margin-left: -243px;
}

.text7 {
    margin-left: -123px;
    margin-top: 02%;
}

.ro {
    display: block;
}

.r1 {
    float: left;
    margin-left: 500px;
}

.r2 {
    float: right;
    margin-right: 230px;
    font-size: x-large;
}

