<div class="main">
    <div class="header">
        <div class="title3">
            <p>
                Mission > Atteindre 15000 étudiants par l'évangile de Jésus-Christ
            </p>
        </div>
    </div>
    <div class="body1">
        <img class="images2" src="assets/images/stuco.jpg">
        <div class="r2">
                <a src="https://movoo-app.deno.dev/movies/popular"><i class="fa fa-instagram"></i></a>
                <i class="r24 fa fa-twitter"></i>
                <i class="r21 fa fa-facebook"></i>
                <i class="r23 fa fa-whatsapp"></i>
            </div>
    </div>

    <div class="body2">
            <div class="r1">
                    En 1997-1999, les étudiants ont commencé à avoir le sentiment
                    d'une véritable propriété du groupe par le leadership estudiantin.
                    C'est à ce moment-là que les universtaires commençant à
                    s'investir dans l'évangélisation pendant la période des jeux universtaires (JU).
                    En 1997-1999, les étudiants ont commencé à avoir le sentiment d'une
                     véritable propriété du groupe par le leadership estudiantin. C'est
                    à ce moment-là que les universtaires commençaient à s'investir dans
                    l'évangélisation pendant la période des jeux universtaires(JU).
        </div>
    </div>
</div>
