<!DOCTYPE html>
<html>
  <head>
    <title>My Hero Section</title>
    <link rel="stylesheet" href="stuco.css">
  </head>
  <body>
    <div class="hero">
      <div class="hero-content">
        <h1>Unleash your online<br/>potential with our<br/>Creative web Agency</h1>
        <p>Lorem ipsum dolor sit amet, consectetur fefzg zgbzrg ubuyes elit.<br/>Lorem ipsum dolor sit amet, consectetur ieciueinoei ojvsorejv elit.<br/>Lorem ipsum dolor sit amet, consectetur htrebre zebcpçuezb elit.</p>
        <div class="button-container">
          <button class="button-primary">Learn More</button>
          <button class="button-secondary">Contact Us</button>
        </div>
      </div>
      <div class="image">
        <img src="hero-image.png">
      </div>
    </div>
  </body>
</html>
