/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Add gradient border to body element */
body {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-right: 40px solid transparent;
  border-left: 40px solid #ff594d;
  background-color: white;
  /* Use linear gradient for left and right borders */
  border-image: linear-gradient(to bottom, 
    #0f7ac0 0%,
    #bcdefc 15%,
    #fea913 40%,
    #fe303b 100%) 5;
}

/* Hero section styles */
.hero {
  min-height: 90vh;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  color: black;
}

.image {
  justify-content: right;
  align-items: right;
  padding-left: 25rem;
  padding-top: 11rem;
}

.hero-content {
  max-width: 1000px;
  padding-top: 10rem;
  margin-left: 150px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 4rem;
  max-width: 600px;
  text-align: center;
}

.red {
  color: #DF0002;
}

.green {
  color: #027F67;
}

.yellow {
  color: #F9DF06;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 6rem;
  max-width: 580px;
}

.button-container {
  display: flex;
  justify-content: left;
}

.button-primary {
  background-color: #3B94AF;
  color: #DEF7FF;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.button-primary:hover {
  background-color: #DEF7FF;
  color: #3B94AF;
}

.button-secondary {
  background-color: #DEF7FF;
  color: #3B94AF;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.button-secondary:hover {
  color: #DEF7FF;
  background-color: #3B94AF;
}
