<div>
    <hero-section></hero-section>

    <div id="learn_more">
        <h1>{{"MORE_ABOUT_STUCO" | i18n}}</h1>
        <p>
            {{"BRIEF_HISTORY_2" | i18n}}
        </p>


    </div>

    <div class="statistics">
        <div class="group">
            <i class="group-icon fa fa-trophy"></i>
            <span class="group-value">+{{stats.conquerors}}</span>
            <span class="group-label">{{'CONQUERORS' | i18n}}</span>
        </div>
        <div class="group">
            <i class="group-icon fa fa-bullhorn"></i>
            <span class="group-value">+{{stats.evangelized}}</span>
            <span class="group-label">{{"EVANGELIZED" | i18n}}</span>
        </div>
        <div class="group">
            <i class="group-icon  fa fa-users"></i>
            <span class="group-value">+{{stats.followed}}</span>
            <span class="group-label">{{"FOLLOWED" | i18n}}</span>
        </div>
    </div>
</div>
