<div>
    <hero-section></hero-section>

    <div *ngIf="false" id="learn_more">
        <h1 >More about STUCO</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at debitis delectus et rem? Accusantium dolorum eaque iusto maxime necessitatibus obcaecati, porro quaerat qui, reprehenderit sit soluta veniam voluptatem. Laboriosam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at debitis delectus et rem? Accusantium dolorum eaque iusto maxime necessitatibus obcaecati, porro quaerat qui, reprehenderit sit soluta veniam voluptatem. Laboriosam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at debitis delectus et rem? Accusantium dolorum eaque iusto maxime necessitatibus obcaecati, porro quaerat qui, reprehenderit sit soluta veniam voluptatem. Laboriosam.
        </p>
    </div>

    <div class="statistics">
        <div class="group">
            <i class="group-icon fa fa-facebook"></i>
            <span class="group-value">+{{30}}</span>
            <span class="group-label">Conquerors</span>
        </div>
        <div class="group">
            <i class="group-icon fa fa-facebook"></i>
            <span class="group-value">+{{30}}</span>
            <span class="group-label">Persons evangelised to</span>
        </div>
        <div class="group">
            <i class="group-icon fa fa-facebook"></i>
            <span class="group-value">+{{30}}</span>
            <span class="group-label">Persons followed up</span>
        </div>
    </div>
</div>
