@import "src/app/layout/_utils/breakpoints";
#learn_more {
  margin: 0 auto 10rem;
  max-width: 80rem;

  @include screen-breakpoint("lt-md") {
    margin: 2rem auto 0;
    padding: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.8;
    opacity: .8;

    @include screen-breakpoint("lt-md") {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }
}



.statistics {
  margin: 10rem auto 20rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 60rem;
  padding: 1rem;

  @include screen-breakpoint("lt-md") {
    flex-direction: column;
    gap: 3rem;
    margin: 3rem auto 10rem;
  }

  .group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include screen-breakpoint("lt-md") {
      flex: none;
    }

    &-icon {
      font-size: 4rem;
      width: 7rem;
      height: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      color: rgb(59, 148, 175);
      background-color: rgb(222, 255, 255);
    }

    &-value {
      font-weight: bold;
      font-size: 3rem;
      margin-top: 2rem;
    }

    &-label {
      font-size: 1.2rem;
    }
  }
}
