<div class="portfolio">
    <div (click)="showPreview(fig)" *ngFor="let fig of images" class="figure">
        <img class="figure-img" [src]="fig.image.url" alt="">
        <caption class="figure-caption">
            {{fig.caption}}
        </caption>
    </div>
</div>

<div *ngIf="preview" class="img-preview">
    <button (click)="showPreview(null)" class="preview-close">
        <i class="fa fa-times-circle"></i>
    </button>
    <img [src]="preview.image.url" alt="image preview">
    <p>
        {{preview.caption}}
    </p>
</div>
