@import "src/app/layout/_utils/breakpoints";

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  position: relative;

  @include screen-breakpoint("lt-md") {
    padding: 1rem;
  }
}

a {
  display: block;
  color: black;
  text-align: left;
  padding: 10px;
  text-decoration: none;
}

.logo img {
  height: 4rem;
  width: 4rem;
}

nav ul {
  margin-left: auto;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 1.2rem;
}

nav ul li a.blue {
  color: #3B94AF;
}

nav ul li a.blue:hover {
  color: black;
}

a:hover {
  color: #3B94AF;
}

.menu-lg {
  @include screen-breakpoint("lt-md") {
    display: none !important;
  }
}

.menu-trigger-sm {
  cursor: pointer;
  background: transparent;
  margin-left: auto;
  display: none;
  border:none;
  outline: none;

  @include screen-breakpoint("lt-md") {
    display: block;
  }
}

.menu-trigger-sm svg {
  width: 2rem;
  height: 2rem;
}

.menu-trigger-sm:hover + .menu-sm{
  display: flex;
}

.menu-sm {
  top: 90%;
  position: absolute;
  right: 0;
  display: none;
  background-color: white;
  flex-direction: column;
}
