<div class="about_page">
    <div>
        <img src="assets/images/conquest.svg">
    </div>
    <div class="body">
        <div class="vision">
            <h2 class="vision_header">Vision STUCO 2023</h2>
            <p class="vision_body">
                En 1997-1999, les étudiants ont commencé à avoir le sentiment d'une véritable propriété
                du groupe par le leadership estudiantin. C'est à ce moment-là que les universitaires
                commençaient à s'investir dans l’évangélisation pendant la période des jeux universitaires
                (JU). En 1997-1999, les étudiants ont commencé à avoir le sentiment d'une véritable propriété
                du groupe par le leadership estudiantin. C'est à ce moment-là que les universitaires
                commençaient à s'investir dans l’évangélisation pendant la période des jeux universitaires
                (JU). En 1997-1999, les étudiants ont commencé à avoir le sentiment d'une véritable propriété
                du groupe par le leadership estudiantin. C'est à ce moment-là que les universitaires
                commençaient à s'investir dans l’évangélisation pendant la période des jeux universitaires
                (JU).
            </p>
            <h2 class="vision_header">Objectives for STUCO 2023</h2>
            <p class="vision_body">
                En 1997-1999, les étudiants ont commencé à avoir le sentiment d'une véritable propriété
                du groupe par le leadership estudiantin. C'est à ce moment-là que les universitaires
                commençaient à s'investir dans l’évangélisation pendant la période des jeux universitaires
                (JU). En 1997-1999, les étudiants ont commencé à avoir le sentiment d'une véritable propriété
                du groupe par le leadership estudiantin. C'est à ce moment-là que les universitaires
                commençaient à s'investir dans l’évangélisation pendant la période des jeux universitaires
                (JU).
            </p>
            <h2 class="vision_header">Strategies to reach our objectives</h2>
            <p class="vision_body">
                En 1997-1999, les étudiants ont commencé à avoir le sentiment d'une véritable propriété
                du groupe par le leadership estudiantin. C'est à ce moment-là que les universitaires
                commençaient à s'investir dans l’évangélisation pendant la période des jeux universitaires
                (JU). En 1997-1999, les étudiants ont commencé à avoir le sentiment d'une véritable propriété
                du groupe par le leadership estudiantin. C'est à ce moment-là que les universitaires
                commençaient à s'investir dans l’évangélisation pendant la période des jeux universitaires
                (JU).
            </p>
            <h2 class="vision_header">Our Budget</h2>
            <p class="vision_body">
                En 1997-1999, les étudiants ont commencé à avoir le sentiment d'une véritable propriété
                du groupe par le leadership estudiantin. C'est à ce moment-là que les universitaires
                commençaient à s'investir dans l’évangélisation pendant la période des jeux universitaires
                (JU).
            </p>
        </div>
        <div class="social_media">
            <a class="icon" href="https://movoo-app.deno.dev/movies/popular"><i class="fa fa-instagram"></i></a>
            <a class="icon" href="https://twitter.com/DongmoToutsop23"><i class="fa fa-twitter"></i></a>
            <a class="icon" href="https://web.facebook.com/profile.php?id=100010401318217"><i class="fa fa-facebook"></i></a>
            <a class="icon" href="https://twitter.com/DongmoToutsop23"><i class="fa fa-whatsapp"></i></a>
        </div>
    </div>
</div>