<div class="footer">
    <p>
        {{"FOLLOW_US" | i18n}}
    </p>
    <div class="r2">
        <a class="a1" href="https://www.instagram.com/gbeecunational/"><i class="fa fa-instagram"></i></a>
<!--        <a class="a1" href="https://twitter.com/"><i class="r24 fa fa-twitter"></i></a>-->
        <a class="a1" href="https://www.facebook.com/gbeecnational"><i class="r21 fa fa-facebook"></i></a>
        <a class="a1" href="https://wa.me/237672243165"><i class="r23 fa fa-whatsapp"></i></a>
    </div>
</div>
