<div class="footer">
    <div class="image">
        <div class="sentence">
            <p>
                Follow us
            </p>
        </div>
         <div class="r2">
                <a class="a1" href="https://movoo-app.deno.dev/movies/popular"><i class="fa fa-instagram"></i></a>
                <a class="a1" href="https://twitter.com/DongmoToutsop23"><i class="r24 fa fa-twitter"></i></a>
                <a class="a1" href="https://web.facebook.com/profile.php?id=100010401318217"><i class="r21 fa fa-facebook"></i></a>
                <a class="a1" href="https://twitter.com/DongmoToutsop23"><i class="r23 fa fa-whatsapp"></i></a>
        </div>
    </div>
</div>
